<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
   
</head>
  <body>
    {% extends "template.html" %}
    {% block content %}

<div class="section">
  <div class="footer">
    <div class="container white">
      <div class="col four left">
        <h1>እንግዲህ ስለዚህ ነገር ምን እንላለን?</h1>
        <p>በፈተና የሚጸና ሰው የተባረከ ነው፤ ከተፈተነ በኋላ ለሚወዱት ተስፋ ስለ እርሱ የሰጣቸውን የሕይወትን አክሊል ይቀበላልና</p>
        <p>ስለዚህ፥ የተወደዳችሁ ወንድሞቼ ሆይ፥ </p>
        <p>ቃሉን የምታደርጉ ሁኑ እንጂ ራሳችሁን እያሳታችሁ የምትሰሙ ብቻ አትሁኑ።</p>
      </div>
      <div class="col four left">
        <h1> ለመስማት የፈጠነ</h1>
        <p>ቃሉን የሚሰማ የማያደርገውም ቢኖር የተፈጥሮ ፊቱን በመስተዋት የሚያይን ሰው ይመስላል፤</p>
        <p>ራሱን አይቶ ይሄዳልና፥ ወዲያውም እንደ ምን እንደ ሆነ ይረሳል።</p>
        <p>ነገር ግን ነጻ የሚያወጣውን ፍጹሙን ሕግ ተመልክቶ የሚጸናበት፥ ሥራንም የሚሠራ እንጂ ሰምቶ የሚረሳ ያልሆነው፥ በሥራው የተባረከ ይሆናል።</p>
      </div>
      <div class="col four left">
        <h1>ለቍጣም የዘገየ</h1>
        <p>የሰው ቍጣ የእግዚአብሔርን ጽድቅ አይሠራምና።</p>
        <p>ስለዚህ፥ የተወደዳችሁ ወንድሞቼ ሆይ፥ ሰው ሁሉ ለመስማት የፈጠነ ለመናገርም የዘገየ ለቍጣም የዘገየ ይሁን፤</p>
      </div>
      <div class="col four left">
        <h1>Contact</h1>
        <p>I'm Lydia.</p>
        <p>You can get in touch with me through <a href="github.com/lydiavasil">github.com</a> or <a href="mailto:lydiavasil@gmail.com">emailing me</a>.</p>
      </div>
      <div class="group"></div>
    </div>
  </div>
</div>
      
    {% endblock %}
  </body>
</html>l>