<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <script src="/static/js/template.js"></script>
</head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="section">
  <div class="slider">
    <div class="container slidercontent">
      <h1 class="hero">የሰማዕታት መታሰቢያ</h1>
      <h2 class="hero">ስለ አንተ ቀኑን ሁሉ እንገደላለን፥ እንደሚታረዱ በጎች ተቆጠርን ተብሎ እንደ ተጻፈ ነው።</h2>
      <div class="call"><span>ሮማውያን 8:36</span></div>
    </div>
  </div>
</div>
    <div class="section">
  <div class="container">
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">ሮማውያን 8:2</h1>
      <p> ክርስቶስ በእናንተ ውስጥ ቢሆን ሰውነታችሁ በኃጢአት ምክንያት የሞተ ነው፥ መንፈሳችሁ ግን በጽድቅ ምክንያት ሕያው ነው።</p>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">ሮማውያን 8:5</h1>
      <p>በሥጋ ያሉትም እግዚአብሔርን ደስ ሊያሰኙት አይችሉም</p>
    </div>
    <div class="responsivegroup"></div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">ሮማውያን 8:7</h1>
      <p>እንግዲህ ስለዚህ ነገር ምን እንላለን?</p>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">ሮማውያን 8:9</h1>
      <p>ከክርስቶስ ፍቅር ማን ይለየናል? መከራ፥ ወይስ ጭንቀት፥ ወይስ ... </p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section bg">
  <div class="container">
    <h1>መልካም</h1>
    <h2>መልካም መልካም</h2>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="group margin"></div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">መልካም</h1>
      <p>መልካም መልካም</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1>እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</h1>
    <h2>መልካም</h2>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Wow</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">መልካም</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">መልካም</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="group margin"></div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">መልካም</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">መልካም</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">መልካም</h1>
      <p class="side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</p>
    </div>
    <div class="group margin"></div>
  </div>
</div>
<div class="section bg">
  <div class="container">
    <h1>እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</h1>
    <h2>እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</h2>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span><span class="side"> - እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span>
      <p class="side"> ይህን ለማግኘት እንደክማለንና፥ ስለዚህም እንሰደባለን፤ ይህም ሰውን ሁሉ ይልቁንም የሚያምኑትን በሚያድን በሕያው አምላክ ተስፋ ስለምናደርግ ነው።</p>
    </div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span><span class="side"> - እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span>
      <p class="side"> ይህን ለማግኘት እንደክማለንና፥ ስለዚህም እንሰደባለን፤ ይህም ሰውን ሁሉ ይልቁንም የሚያምኑትን በሚያድን በሕያው አምላክ ተስፋ ስለምናደርግ ነው።</p>
    </div>
    <div class="group margin"></div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span><span class="side"> - እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span>
      <p class="side"> ይህን ለማግኘት እንደክማለንና፥ ስለዚህም እንሰደባለን፤ ይህም ሰውን ሁሉ ይልቁንም የሚያምኑትን በሚያድን በሕያው አምላክ ተስፋ ስለምናደርግ ነው።</p>
    </div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">Wow</span><span class="side"> - እግዚአብሔር የፈጠረው ሁሉ መልካም ነውና፥</span>
      <p class="side"> ይህን ለማግኘት እንደክማለንና፥ ስለዚህም እንሰደባለን፤ ይህም ሰውን ሁሉ ይልቁንም የሚያምኑትን በሚያድን በሕያው አምላክ ተስፋ ስለምናደርግ ነው።</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="col two">
      <h1 class="icon">[]</h1>
      <h1 class="service">ጄምስ 1:2</h1>
      <p>አንደበቱን ሳይገታ ልቡን እያሳተ እግዚአብሔርን የሚያመልክ የሚመስለው ማንም ቢኖር የእርሱ አምልኮ ከንቱ ነው።</p>
    </div>
    <div class="col two">
      <h1 class="icon">[]</h1>
      <h1 class="service">ጄምስ 1:7</h1>
      <p>ንጹሕ የሆነ ነውርም የሌለበት አምልኮ በእግዚአብሔር አብ ዘንድ ይህ ነው፤ ወላጆች የሌላቸውን ልጆች ባልቴቶችንም በመከራቸው መጠየቅ፥ በዓለምም ከሚገኝ እድፍ ሰውነቱን መጠበቅ ነው።</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1 class="reset">እንግዲህ ስለዚህ ነገር ምን እንላለን? ....</h1>
  </div>
</div>
<div class="section">
  <div class="footer">
    <div class="container white">
      <div class="col four left">
        <h1>እንግዲህ ስለዚህ ነገር ምን እንላለን?</h1>
        <p>በፈተና የሚጸና ሰው የተባረከ ነው፤ ከተፈተነ በኋላ ለሚወዱት ተስፋ ስለ እርሱ የሰጣቸውን የሕይወትን አክሊል ይቀበላልና</p>
        <p>ስለዚህ፥ የተወደዳችሁ ወንድሞቼ ሆይ፥ </p>
        <p>ቃሉን የምታደርጉ ሁኑ እንጂ ራሳችሁን እያሳታችሁ የምትሰሙ ብቻ አትሁኑ።</p>
      </div>
      <div class="col four left">
        <h1> ለመስማት የፈጠነ</h1>
        <p>ቃሉን የሚሰማ የማያደርገውም ቢኖር የተፈጥሮ ፊቱን በመስተዋት የሚያይን ሰው ይመስላል፤</p>
        <p>ራሱን አይቶ ይሄዳልና፥ ወዲያውም እንደ ምን እንደ ሆነ ይረሳል።</p>
        <p>ነገር ግን ነጻ የሚያወጣውን ፍጹሙን ሕግ ተመልክቶ የሚጸናበት፥ ሥራንም የሚሠራ እንጂ ሰምቶ የሚረሳ ያልሆነው፥ በሥራው የተባረከ ይሆናል።</p>
      </div>
      <div class="col four left">
        <h1>ለቍጣም የዘገየ</h1>
        <p>የሰው ቍጣ የእግዚአብሔርን ጽድቅ አይሠራምና።</p>
        <p>ስለዚህ፥ የተወደዳችሁ ወንድሞቼ ሆይ፥ ሰው ሁሉ ለመስማት የፈጠነ ለመናገርም የዘገየ ለቍጣም የዘገየ ይሁን፤</p>
      </div>
      <div class="col four left">
        <h1>Contact</h1>
        <p>I'm Lydia.</p>
        <p>You can get in touch with me through <a href="github.com/lydiavasil">github.com</a> or <a href="mailto:lydiavasil@gmail.com">emailing me</a>.</p>
      </div>
      <div class="group"></div>
    </div>
  </div>
</div>
    
    {% endblock %}
  </body>
</html>